@font-face {
    font-family: 'OldSong-v1.007';
    src: url('./OldSongv1.007.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OradanoGSRR';
    src: url('./OradanoGSRR.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jf-openhuninn-2.0';
    src: url('./jf-openhuninn-2.0.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ITCEDSCR';
    src: url('./ITCEDSCR.woff');
    font-weight: normal;
    font-style: normal;
}